<style>
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        margin: auto
    }
    
    .example-full-width {
        width: 100%;
    }
</style>

<div style="margin-top: 100px;">
    <form [formGroup]="petForm" class="example-form">
        <div>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <input type="text" formControlName="name" required minlength="4" maxlength="20" matInput placeholder="Name" appAlphabetOnly>
            </mat-form-field>
            <div *ngIf="petForm.controls['name'].invalid && (petForm.controls['name'].dirty || petForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="petForm.controls['name'].errors.required">
                    Name is required.
                </div>
            </div>
        </div>

        <!-- <div>
            <mat-label>Choose Image: </mat-label>
            <input type="file">
        </div> -->

        <div>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let s of statuses" [value]="s">{{s}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <button (click)="update()" mat-raised-button color="primary" style="width: 100%;" [disabled]="petForm.invalid">Save</button>
    </form>
</div>